__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
config.json

.coverage_*
*~
slurm*
logs

# Data folder
bookcorpus_data/
dataset/en_wiki_text_document.*
dataset/gpt2-*
dataset/index-cache/
dataset/wiki_en_20231001_train.jsonl

/ds_config_*.json

output/

/apex/